<!DOCTYPE html>
<html>
    <head>
        <title>{{title}} | {{siteName}}</title>
        {{>commonHead}}
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <div class="row">
                    <div class="col"></div>
                    <div class="col-lg-6 col-md-8">
                        <p>{{errorText}}</p>
                    </div>
                    <div class="col"></div>
                </div>
        </div>
        {{>footer}}

        {{>commonScripts}}
    </body>
</html>