<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{title}} | {{siteName}}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&display=swap" rel="stylesheet"> 
        <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <div class="container-fluid">
            <form id="draft-form">
                <div class="row">
                    <div class="col-lg-3">
                        <label for="draft-title">Title <em class="ui-note">(optional)</em></label>
                        <br />
                        <input id="draft-title" placeholder="Working Title" type="text" />
                        <br />
                        <label for="draft-author">By <em class="ui-note">(optional)</em></label>
                        <br />
                        <input id="draft-author" placeholder="A. Writer" type="text" />
                        <br />
                        <label for="draft-password">Password <em class="ui-note">(optional)</em></label>
                        <br />
                        <input id="draft-password" placeholder="ShareablePassword123" type="password" />
                        <br />
                        <em class="ui-note">Don't use a password you use elsewhere!
                            <br /> 
                            If you password-protect your draft, 
                            you'll need to share the password with everyone you want to view your work.
                            <br />
                            If you don't use a password, anyone with the URL can view your work.
                        </em>
                    </div>
                    <div class="col-lg-6 editor-container">
                        <div id="draft-editor"></div>
                    </div>
                    <div class="col-lg-3">
                        <fieldset>
                            <legend>Draft lifetime</legend>
                            <div>
                                <input type="radio" id="hours-1" name="draft-hours" value="1">
                                <label for="hours-1">1 Hour</label>
                            </div>
                            <div>
                                <input type="radio" id="hours-3" name="draft-hours" value="3" checked>
                                <label for="hours-3">3 Hours</label>
                            </div>
                            <div>
                                <input type="radio" id="hours-5" name="draft-hours" value="5">
                                <label for="hours-5">5 Hours</label>
                            </div>
                            <div>
                                <input type="radio" id="hours-12" name="draft-hours" value="12">
                                <label for="hours-12">12 Hours</label>
                            </div>
                            <div>
                                <input type="radio" id="hours-24" name="draft-hours" value="24">
                                <label for="hours-24">24 Hours</label>
                            </div>
                        </fieldset>                     
                    </div>
                </div>
                <div class="row">
                    <div class="col"></div>
                    <div class="col-lg-6">
                        <div class="d-grid gap-2">
                            <button id="submit-button" type="submit" class="btn btn-lg btn-secondary">Submit Draft</button>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
            </form>
        </div>        
        {{>footer}}

        <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/1669a0867e.js" crossorigin="anonymous"></script>
        <script src="/js/editor.js"></script>
    </body>
</html>