<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{title}} | {{siteName}}</title>
        {{>commonHead}}
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <div class="container-fluid">
                <form id="draft-form">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="input-unit">
                                <label for="draft-title">Title <span class="ui-note">(optional)</span></label>
                                <br />
                                <input id="draft-title" placeholder="Your Title Here..." type="text" autocomplete="off" maxlength="150" />
                                <br />
                            </div>
                            <div class="input-unit">
                                <label for="draft-author">By <span class="ui-note">(optional)</span></label>
                                <br />
                                <input id="draft-author" placeholder="Your Name Here..." type="text" autocomplete="off" maxlength="150" />
                                <br />
                            </div>
                            
                        </div>
                        <div class="input-unit col-lg-6">
                            <span>Draft Text</span>
                            <div class="editor-container">
                                <div id="draft-editor"></div>
                            </div>
                            <span id="body-error-text" class="error-notice"></span>
                        </div>

                        <div class="col-lg-3">
                            <div class="input-unit">
                                <label for="password-entry">Password to View Draft <span class="ui-note">(optional)</span></label>
                                <br />
                                {{>passwordEntry}}
                            </div>
                            
                            <p class="ui-note">
                                If you password-protect your draft, 
                                you'll need to share the password with everyone you want to view your work.
                                <br />
                                Don't reuse a password you use elsewhere!
                            </p>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-lg-6">
                            <div class="d-grid gap-2">
                                <fieldset class="input-unit">
                                <span>Draft Page Lifetime</span>
                                <br />
                                <div class="btn-group" role="group" aria-label="Draft lifetime radio toggle button group">
                                        <input class="btn-check" type="radio" id="hours-3" name="draft-hours" value="3" autocomplete="off" checked>
                                        <label class="btn btn-outline-secondary" for="hours-3">3 Hours</label>

                                        <input class="btn-check" type="radio" id="hours-8" name="draft-hours" value="8" autocomplete="off">
                                        <label class="btn btn-outline-secondary" for="hours-8">8 Hours</label>

                                        <input class="btn-check" type="radio" id="hours-12" name="draft-hours" value="12" autocomplete="off">
                                        <label class="btn btn-outline-secondary" for="hours-12">12 Hours</label>
                                </div>
                            </fieldset>
                                <button id="draft-submit-button" type="submit" class="btn btn-lg btn-secondary">
                                    Create Draft Webpage
                                </button>
                            </div>
                        </div>
                        <div class="col"></div>
                    </div>
                </form>
            </div>
        </div>
        {{>footer}}

        {{>modal}}
        {{>fullPageLoadSpinner}}

        {{>commonScripts}}
        <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
        <script src="https://kit.fontawesome.com/1669a0867e.js" crossorigin="anonymous"></script>
        <script src="/js/editor.js"></script>
        <script src="/js/password-visibility.js"></script>
    </body>
</html>