<!DOCTYPE html>
<html>
    <head>
        <title>{{title}} | {{siteName}}</title>
        {{>commonHead}}
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <div class="body-text">
                //TODO:
            </div>
        </div>
        {{>footer}}

        {{>commonScripts}}
    </body>
</html>