<!DOCTYPE html>
<html>
    <head>
        <title>Private Draft</title>
        {{>commonHead}}
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <div id="auth-area">
                <form id="auth-form">
                    <p>Please enter the password to view this draft.</p>
                    <input id="auth-password" type="password" />
                    <input type="submit" value="Submit" />
                </form>
            </div>
            <div id="draft-area">
                <h1 id="title"></h1>
                <h2 id="author"></h2>
                <div id="draft-viewer"></div> 
            </div>
        </div>        
        {{>footer}}

        {{>commonScripts}}
        <script src="/js/private-viewer.js"></script>
    </body>
</html>