<!DOCTYPE html>
<html>
    <head>
        <title>{{siteName}}</title>
        <meta name="robots" content="noindex" />
        {{>commonHead}}
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            {{>errorModal}}
            {{>draftViewerWithLoading}}           
        </div>        
        {{>footer}}

        {{>commonScripts}}
        <script src="/js/draft-loader.js"></script>
        <script src="/js/public-viewer.js"></script>
    </body>
</html>