            <div id="draft-area">
                <h1 id="title"></h1>
                <h2 id="author"></h2>
                <div id="draft-viewer">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div> 
            </div>
