<footer>
    <hr />
    <p class="ui-note">All draft content is the intellectual property of its respective author(s).</p>
    {{! Restore if icons are used.
    <p class="ui-note">Icons made by <a href="https://www.flaticon.com/authors/andrean-prabowo" title="Andrean Prabowo">Andrean Prabowo</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
    }}
    <p class="ui-note">Website by {{name}}.</p>
</footer>