                                <input id="password-entry" placeholder="{{passwordPlaceholder}}" type="password" maxlength="35" />
                                <div class="input-suboption">
                                    <input type="checkbox" id="password-visible" name="password-visible">
                                    <label for="password-visible">Show password</label>
                                </div>
                                