/* #AB847E, #F7B4AB, #9EF1F7, #AB915C, #F7D692 */

:root {
    --line-horizontal-color: #9DF1F7;
    --line-vertical-left-color: #F7B3AB;
    --line-vertical-right-color: #eee;
    --comfortable-reading-width: 34em;
    --indent: 50px;
}

body {
    font-family: 'Merriweather', serif;

    display: flex;  /* Enable flexbox */
    flex-direction: column; /* Default is row */
    min-height: 100vh;  /* 100% of Viewport Height */
}

footer {
    text-align: center;
}

hr {
    border: 0;
    border-top: 1px solid var(--line-horizontal-color);
    opacity: 1;
}

input[type="text"], input[type="password"] {
    width: 100%;
}

/* The following (along with activating flexbox) is used to put 
    everything but our footer in something that takes up all the page space,
    so our footer sticks to the bottom of the page. */
.main-content {
    flex-grow: 1;
}

.error-notice {
    color: red;
    font-weight: normal;
}

.ui-note {
    color: #888;
    font-size: 0.8rem;
    font-style: italic;
    font-weight: normal;
}

/* Navigation Bar */

.navbar {
    border-bottom: var(--line-horizontal-color) 1px solid;
    margin-bottom: 2rem;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: 900;
}

.nav-item {
    padding: 0 16px;
}

.nav-link {
    font-size: 1.2rem;
}

/* Editing Form & Viewer */

.ql-container, #draft-editor p, #draft-viewer p {
    font-family: 'Merriweather', serif;
    line-height: 1.75;
    text-indent: var(--indent);
}

.body-text p, #draft-viewer p {
    margin: 0 auto 1rem;
    max-width: var(--comfortable-reading-width);
    text-indent: var(--indent);
}

.ql-toolbar.ql-snow, .ql-container.ql-snow, input {
    border-bottom: 1px solid var(--line-horizontal-color);
    border-top: 1px solid var(--line-horizontal-color);
    border-left: 1px solid var(--line-vertical-left-color);
    border-right: 1px solid var(--line-vertical-right-color);
}

.editor-container {
    height: 25rem;
    margin-bottom: 43px;  /* Account for Quill overlap issue */
}

legend {
    font-size: 1.25rem;
}

#submit-button {
    margin-top: 2rem;
}

#title, #author {
    text-align: center;
    margin: 1rem auto 1rem;
    max-width: var(--comfortable-reading-width);
}

#author {
    font-size: 1.25rem;
}

#title {
    font-size: 1.5rem;
}

.input-unit {
    margin-bottom: 1.5rem;
    text-align: center;
}

.input-unit > label:first-child, .input-unit > span:first-child {
    font-weight: bold;
}