/* #AB847E, #F7B4AB, #9EF1F7, #AB915C, #F7D692 */

body {
    font-family: 'Merriweather', serif;
}

/* Navigation Bar */

.navbar {
    border-bottom:#9DF1F7 1px solid;
    margin-bottom: 2rem;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: 900;
}

.nav-item {
    padding: 0 16px;
}

.nav-link {
    font-size: 1.2rem;
}

/* Editing Form & Viewer */

.ql-container, #draft-editor p, #draft-viewer p {
    font-family: 'Merriweather', serif;
    line-height: 1.75;
    text-indent: 50px;
}

#draft-viewer p {
    margin: 0 auto;
    max-width: 34em;
}

.ql-toolbar.ql-snow, .ql-container.ql-snow, input {
    border-bottom: 1px solid #9DF1F7;
    border-top: 1px solid #9DF1F7;
    border-left: 1px solid #F7B3AB;
    border-right: 1px solid #eee;
}

.editor-container {
    min-height: 25rem;
    padding-bottom: 43px;  /* Account for Quill overlap issue */
}

legend {
    font-size: 1.25rem;
}

.ui-note {
    color: #888;
    font-size: 0.8rem;
    font-style: italic;
}

#submit-button {
    margin-top: 2rem;
}

#title, #author {
    text-align: center;
}